
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">SURVEY QUESTIONS LIST</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body padding-large">
        <button type="Submit" class="btn btn-primary pull-right margin-bottom">Add new survey question </button>

        <table class="table table-bordered text-center table-responsive table-hover">


            <thead>
                <tr align="center" style="">
                    <th>ID</th>
                    <th>Content</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Đội bóng bạn yêu thích là gì?</td>
                    <td>Enable</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Detail</button>
                        <button type="Submit" class="btn btn-success">Update</button>
                        <button type="Submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Đội bóng bạn yêu thích là gì?</td>
                    <td>Disable</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Detail</button>
                        <button type="Submit" class="btn btn-success">Update</button>
                        <button type="Submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Đội bóng bạn yêu thích là gì?</td>
                    <td>Disable</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Detail</button>
                        <button type="Submit" class="btn btn-success">Update</button>
                        <button type="Submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">ADD NEW SURVEY QUESTION</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body padding-large">
        <form>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <label for="">Content</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <textarea name="editor" class="ckeditor" id="editor1"></textarea>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <label for="">Answers option</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">A</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <label class="col-sm-1 control-label">B</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">C</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <label class="col-sm-1 control-label">D</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-label-left">
                        <span><i class="fa fa-clock-o txt-danger"></i></span>
                        Add
                    </button>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </form>
    </div>  
</div>
<script>
    CKEditor.replace('editor1');
</script>





