
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">DANH SÁCH CÂU HỎI KHẢO SÁT VUI</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body padding-large">
        <button type="Submit" class="btn btn-primary pull-right margin-bottom">Thêm mới</button>
        <table class="table table-bordered table-responsive table-hover text-center">
            <thead>
                <tr align="center" style="">
                    <th>ID</th>
                    <th>Nội dung</th>
                    <th>Trạng thái</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Đội bóng bạn yêu thích là gì?</td>
                    <td>Được kích hoạt</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Xem</button>
                        <button type="Submit" class="btn btn-success">Sửa</button>
                        <button type="Submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Đội bóng bạn yêu thích là gì?</td>
                    <td>Chưa kích hoạt</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Xem</button>
                        <button type="Submit" class="btn btn-success">Sửa</button>
                        <button type="Submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Đội bóng bạn yêu thích là gì?</td>
                    <td>Chưa kích hoạt</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Xem</button>
                        <button type="Submit" class="btn btn-success">Sửa</button>
                        <button type="Submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">THÊM MỚI CÂU HỎI KHẢO SÁT</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <div class="box-body padding-larger">
        <form>
            <div class="form-group">
                <label for="">Nội dung</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="Số Đáp Án">Số Đáp Án</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div class="form-group">
                <label>Đáp án 1</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Đáp án 2</label>
                <input type="text" class="form-control" placeholder="">
            </div>

            <div class="clearfix"></div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-label-left">
                    <span><i class="fa fa-clock-o txt-danger"></i></span>
                    Thêm
                </button>
            </div>
        </form>
    </div>
</div>




