
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Theme/production/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 col-xs-6 col-sm-12">
        <div class="box-container ">1024</div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-12">
        <div class="box-container ">1024</div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-12">
        <div class="box-container ">1024</div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-12">
        <div class="box-container ">1024</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box-container ">
            <div class="title"><label class="text-bold red">STUDENTS</label></div>
            <hr />

            Index
        </div>
    </div>
</div>

