<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Send email to reply</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body padding-large">
        <div class="form-group row">
            <label class="col-md-1 col-xs-12 text-left">Subject</label>
            <div class="col-xs-12">
                <input type="text" class="form-control" id="subjectFeedbackReply" value="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-xs-12 text-left">Content</label>
            <div class="col-xs-12">
                <textarea class="form-control" rows="5" id="contentFeedbackReply"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right margin">
            <span><i class="fa fa-clock-o txt-danger"></i></span> Send
        </button>
    </div>
</div>
<hr />
