<div>
    <label>Feedback Reply History</label>
    <table id="feedbackReplyHistoryTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No.</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </tfoot>
    </table>
</div>
