
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="box box-success" id="container">
    <div class="box-header with-border">
        <h3 class="box-title">DANH SÁCH ĐÓNG GÓP</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body padding-large">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr align="center" style="">
                    <th>ID</th>
                    <th>Tiêu đề</th>
                    <th>Nội dung</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Góp ý</td>
                    <td>Góp ý</td>
                    <td>
                        <button type="Submit" class="btn btn-success">Chi tiết</button>
                        <button type="Submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Góp ý</td>
                    <td>Góp ý</td>
                    <td>
                        <button type="Submit" class="btn btn-success">Chi tiết</button>
                        <button type="Submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Góp ý</td>
                    <td>Góp ý</td>
                    <td>
                        <button type="Submit" class="btn btn-success">Chi tiết</button>
                        <button type="Submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title"> CHI TIẾT GÓP Ý</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body padding-large">
        <form>
            <div class="form-group">
                <label for="">Title</label>
                <div >
                    <input type="text" class="form-control disabled" readonly id="" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-xs-12 text-left">From</label>
                <div class="col-md-5 col-xs-12">
                    <input type="text" class="form-control disabled" readonly id="" value="">
                </div>
                <label class="col-md-1 col-xs-12 text-left">Time</label>
                <div class="col-md-5 col-xs-12">
                    <input type="text" class="form-control disabled" readonly id="" value="">
                </div>
            </div>
            <div class="form-group">

                <label for="">Content</label>
                <div >
                    <textarea class="form-control" rows="5" id=""></textarea>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>


