
*.dll
*.dll
EnglishForKid/APIEnglishForKid/bin/APIEnglishForKid.dll
EnglishForKid/APIEnglishForKid/bin/APIEnglishForKid.dll
*.dll
*.Cache
EnglishForKid/APIEnglishForKid/bin/APIEnglishForKid.dll
*.dll
*.dll
*.dll
*.dll
EnglishForKid/.vs/EnglishForKid/v14/.suo
EnglishForKid/.vs/EnglishForKid/v14/.suo
