
*.Cache
EnglishForKid/APIEnglishForKid/bin/APIEnglishForKid.dll

*.dll

EnglishForKid/EnglishForKidAPI/bin/Newtonsoft.Json.dll
EnglishForKid/.vs/EnglishForKid/v14/.suo
EnglishForKid/.vs/config/applicationhost.config
EnglishForKid/APIEnglishForKid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EnglishForKid/EnglishForKidAPI/bin/EnglishForKidAPI.dll.config
bin
obj
vs
.vs
*.dll
