
@{
    ViewBag.Title = "ThongTinGiaoVien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- /.box -->


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">THÔNG TIN GIÁO VIÊN</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-content">
            <div class="box-content">
                <form class="form-horizontal padding-larger" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 ">Ảnh hồ sơ</label>
                                <div class="col-sm-8">
                                    <img src="~/Content/files/image/avatar.png" alt="..." style="width:80px; height:80px;" class="img-circle profile_img">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 ">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 ">Tên giáo viên</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Tên giáo viên">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 ">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 ">Giới tính</label>
                                <div class="col-sm-8">
                                    <div class="radio col-sm-6">
                                        <label><input type="radio" name="optradio">Nam</label>
                                    </div>
                                    <div class="radio col-sm-6">
                                        <label><input type="radio" name="optradio">Nữ</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 ">Địa chỉ</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Địa chỉ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 ">Số điện thoại</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Số điện thoại">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 ">Ngày sinh</label>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='birthdate'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group ">
                                <div class="col-md-3 pull-right">
                                    <button type="submit" class="btn btn-primary btn-label-left pull-right btn-group">
                                        <span><i class="fa fa-clock-o txt-danger"></i></span>
                                        Cập nhật
                                    </button>
                                </div>
                                <div class="col-md-5 pull-right">
                                    <button class="btn btn-warning btn-label-left pull-right">
                                        <span><i class="fa fa-clock-o"></i></span>
                                        Khóa tài khoản
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
                <hr />
                <form class="form-horizontal padding-larger" role="form">
                    <h3 class="text-primary text-center">ĐỔI MẬT KHẨU</h3>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-4 ">Mật khẩu cũ</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <label class="col-sm-4 "></label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 ">Mật khẩu mới</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 ">Xác nhận lại</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary btn-label-left pull-right">
                                    <span><i class="fa fa-clock-o txt-danger"></i></span>
                                    Xác nhận thay đổi
                                </button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#birthdate").datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            clearBtn: true,
            orientation: 'bottom'
        });
    });
</script>