@using EnglishForKid.Models;

@{
    ViewBag.Title = "Home Page";
}

<div>
    @{ 
        foreach(Lesson lesson in ViewBag.Lessons)
        {
            <div>
                @lesson.Title;
            </div>
        }
    }
</div>