
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- /.box -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">LIST OF STUDENT</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body padding-large">
        <table id="example1" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gecko</td>
                    <td>Firefox 2.0</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td>1.8</td>
                    <td>
                        <button type="button" class="btn btn-info" data-id="" data-toggle="modal" data-target="#myModalDetailStudent">Detail</button>
                        <button type="button" class="btn btn-success" data-id="" data-toggle="modal" data-target="#myModalUpdateStudent">Update</button>
                        <button type="button" class="btn btn-danger" data-id="" data-toggle="modal" data-target="#myModalBlockStudent"> Block</button>
                        <button type="button" class="btn btn-primary" data-id="" data-toggle="modal" data-target="">Authorition</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="modal fade" id="myModalBlockStudent" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form>
                        <div class="form-group row">
                            <label style="align:center;">Do you want to block this account?</label>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-md-9 col-xs-12"></div>
                    <div class="col-md-1 col-xs-12">
                        <button type="button" class="btn btn-success">Yes</button>
                    </div>
                    <div class="col-md-1 col-xs-12">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>

                    <div class="col-md-1 col-xs-12"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalDetailStudent" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DETAIL STUDENT</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form class="form-horizontal" role="form">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Photo profile</label>
                            <div class="col-sm-3">
                                <img src="../img/admin.png" alt="..." width="30%" class="img-circle profile_img">
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Username</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Gender</label>
                            <div class="col-sm-3">
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Man</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Woman</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Student Name</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Student Name">
                            </div>

                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Address</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Date of Birth</label>
                            <div class="col-sm-3">
                                <div class='input-group date' id='birthdate'>
                                    <input type='text' class="form-control" placeholder="Date of Birth" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Phone Number</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Password</label>
                            <div class="col-sm-3">
                                <div class='' id=''>
                                    <input type='text' class="form-control" placeholder="Password" />
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Email</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalUpdateStudent" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">UPDATE STUDENT</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form class="form-horizontal" role="form">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Photo profile</label>
                            <div class="col-sm-3">
                                <img src="../img/admin.png" alt="..." width="30%" class="img-circle profile_img">
                            </div>
                            
                            </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Username</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Gender</label>
                            <div class="col-sm-3">
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Man</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Woman</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Student Name</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Student Name">
                            </div>

                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Address</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Date of Birth</label>
                            <div class="col-sm-3">
                                <div class='input-group date' id='birthdate'>
                                    <input type='text' class="form-control" placeholder="Date of Birth" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Phone Number</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" style="text-align:left">Password</label>
                            <div class="col-sm-3">
                                <div class='' id=''>
                                    <input type='text' class="form-control" placeholder="Password" />
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" style="text-align:left">Email</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary pull-right">
                            <span><i class="fa fa-clock-o txt-danger"></i></span>
                            Update
                        </button>
                    </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $("#birthdate").datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                clearBtn: true,
                orientation: 'bottom'
            });
        });
    </script>
