
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>English for kids</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <link href="~/Content/css/header.css" rel="stylesheet" />
    <link href="~/Content/css/myStyle.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Gochi+Hand|Pacifico&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="~/Content/files/image/img/logo2.png" /></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#" class="text-primary">HOME</a></li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle text-danger" 
                                   style="color:#d35400;"
                                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LISTENING <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class=" dropdown">
                                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Departments</a>
                                    </li>
                                    <li><a href="#">Add New</a></li>
                                </ul>
                            </li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle active text-orange"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   style="color:#9b59b6;"
                                   aria-expanded="false">SPEAKING<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">View Staff</a></li>
                                    <li><a href="#">Add New</a></li>
                                    <li><a href="#">Bulk Upload</a></li>
                                </ul>
                            </li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle active text-orange" 
                                   data-toggle="dropdown" role="button" aria-haspopup="true" 
                                   style="color:#e74c3c;"
                                   aria-expanded="false">READING <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">View Staff</a></li>
                                    <li><a href="#">Add New</a></li>
                                    <li><a href="#">Bulk Upload</a></li>
                                </ul>
                            </li>
                            <li class=" down">
                                <a href="#" class="dropdown-toggle active text-primary" 
                                   style="color:#27ae60;"
                                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WRITTING <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Change Time Entry</a></li>
                                    <li><a href="#">Report</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Change Password</a></li>
                                    <li><a href="#">My Profile</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:60px;">
        
        <div class="row" >
            <div class="col-sm-12 col-md-10 col-md-offset-1" >
                <div class="row white box" style="height:80px;">
                    <div class="viewHeader red col-md-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8"> @RenderBody()</div>
                    <div class="col-sm-12 col-md-4">
                        @{
                            Html.RenderPartial("Survey");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("footer");
    }


    <!-- Core JavaScript Files -->

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/jquery.scrollTo.js"></script>

    <!-- Custom Theme JavaScript -->

    <script src="~/Content/js/custom.js"></script>

</body>

</html>
