<link href="~/Content/css/footer.css" rel="stylesheet"/>
<script src="~/Scripts/Home/view.js"></script>
<footer>
    <div class="container">
        <div class="row text-white">
            <div class="col-md-6 col-md-offset-3">
                <span class="text-center text-white">© 2017 English For Kids. All rights reserved | Design by Xoapit</span>
            </div>
            <label>Month: </label>
            <label id="viewCountMonth"></label>
            <label>Today: </label>
            <label id="viewCountToday"></label>
            <div></div>
        </div>
    </div>
</footer>
