<link href="~/Content/css/footer.css" rel="stylesheet"/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <span class="text-center text-white">© 2017 English For Kids. All rights reserved | Design by Xoapit</span>
            </div>
        </div>
    </div>
</footer>
