
<div class="box bg-white border">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="text-center product">
            <img src="~/Content/files/image/fb.png" class="img-responsive rounded-circle" width="160" height="160">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                English For Kids
            </div>
            <div class="profile-usertitle-job">
                Play - Learn - Grow
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <a href="https://www.facebook.com/Xoapit" class="btn btn-success btn-sm fa-facebook-official">
                <i class="glyphicon glyphicon-ok"></i>
                Like
            </a>
            <a href="https://www.facebook.com/Xoapit" class="btn btn-danger btn-sm">
                <i class="glyphicon glyphicon-home"></i>
                Share
            </a>
        </div>
        <!-- END SIDEBAR BUTTONS -->
    </div>
</div>

<div class="box bg-info border top3 box profile-sidebar" style="background-image:url(../../Content/files/image/ads1.jpg);background-size:cover; height:250px;">
</div>

<div class="box bg-white border box profile-sidebar margin-bottom" style="margin-bottom:10px;">
    <div row>
        <div class="box-header bg-primary">
            Where are you now?
        </div>
        <div class="padding">
            <div class="row padding">
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 1</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 2</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <button class="btn btn-danger pull-right">Submit</button>
            </div>
        </div>
    </div>
</div>
