<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

<div class="chart">
    <!-- Sales Chart Canvas -->
    <canvas id="myChart" height="200" width="200"></canvas>
</div>

<script>
    $(document).ready(function () {
        var myData= [];
        var url = "/Home/GetActualResult";
        $.ajax({
            type: 'post',
            url: url,
            data: {
            },
            success: function (data) {
                var result = data;
                arr = result.Results;
                var dt = arr;
                var total = 0;
                $.each(arr, function () {
                    total += this;
                });
                for (var i = 0; i < arr.length; i++) {
                    dt[i] = dt[i] / total * 100;
                    myData[i] = dt[i];
                }
                initChart(dt);
            },
            fail: function (data) {
            }
        });
        
    });

    function initChart(myData) {
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: myData,
                    backgroundColor: [
                        "#F7464A",
                        "#46BFBD",
                        "#FDB45C",
                        "#3498db"
                    ],
                }],
                labels: [
                    "A",
                    "B",
                    "C",
                    "D"
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx = document.getElementById("myChart").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    }
</script>