
<div class="box">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="text-center product">
            <img src="~/Content/files/image/fb.png" class="img-responsive rounded-circle" width="160" height="160">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                English For Kids
            </div>
            <div class="profile-usertitle-job">
                Play - Learn - Grow
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm">Follow</button>
            <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                        Overview
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        Account Settings
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="glyphicon glyphicon-ok"></i>
                        Tasks
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-flag"></i>
                        Help
                    </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
</div>

<div class="top3 box profile-sidebar">
    <div id="block-menu-menu-help-and-support" class="block block-menu first odd" role="navigation">
        <div class="inner-block">
            <h3 class="block__title block-title">Help and Support</h3>
            <ul class="menu">
                <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">House rules for kids</a></li>
                <li class="menu__item is-leaf last leaf"><a href="/en/house-rules-parents-and-teachers" class="menu__link">House rules for parents and teachers</a></li>
            </ul>
        </div>
    </div>

    <div id="block-menu-menu-help-and-support" class="block block-menu first odd" role="navigation">
        <div class="inner-block">
            <h3 class="block__title block-title">A-Z Topics</h3>
            <div class="Topics">
                <ul class="menu">
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Actions</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Alphabet</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Ancient Egypt</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Animals</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Around the world</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Birthdays</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Bugs and insects</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Christmas</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Circus</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Clothes</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Colours</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Colours</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Colours</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Colours</a></li>
                    <li class="menu__item is-collapsed first collapsed"><a href="/en/house-rules-kids" class="menu__link">Colours</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="box profile-sidebar">
    <div>
        <div class="box-header">
            Where are you now?
        </div>
        <div>
            1. Hello Vietnam
            <br/>
            2. Welcome to you
            <br />
            2. Welcome to you
            <br />
            2. Welcome to you
            <br />
            2. Welcome to you
        </div>
    </div>
</div>
