
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <link href="~/Content/table.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <title>Index</title>
</head>
<body>
   
        
    <div id="container">
        <h3 style="color: #5a738e" align="center">DANH SÁCH GIÁO VIÊN</h3>
        <button type="Submit" class="btn btn-primary">Thêm mới</button>

        <table class="table-responsive table-hover responstable">

            <thead>
                <tr align="center" style="">
                    <th style="color: #fff; text-align: center">Username</th>
                    <th style="color: #fff; text-align: center">Họ Tên</th>
                    <th style="color: #fff; text-align: center">Trạng thái</th>
                    <th style="color: #fff; text-align: center;" >Hành Động</th>


                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nguyễn Văn A</td>
                    <td>Hoạt động</td>
                    <td>
                        <button type="Submit" class="btn btn-primary">Xem</button>
                        <button type="Submit" class="btn btn-success">Sửa</button>
                        <button type="Submit" class="btn btn-danger">Khóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

    
    

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.standalone.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function () {
        $("#birthdate").datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            clearBtn: true,
            orientation: 'bottom'
        });
    });
    </script>


</body>
</html>
