.box{
    box-shadow: 0 0 2px #ccc;
    margin-top:5px;
}

.box-header {
    padding: 10px;
    font-size:15px;
}

.box-body {
    padding-top: 25px;
    padding-bottom: 40px;
    background:#fefefe;
    width:100%;
    height:100%;
}

.bold{
    font-weight:400;
}

.red {
    background: #e74c3c;
}

.blue {
    background: #3498db;
}

.white{
    background: #fff;
}

.black {
    background: #111;
}


.text-red {
    color: #e74c3c;
}

.text-blue {
    color: #3498db;
}
.text-white {
    color: #ffffff;
}
.text-black {
    color: #111;
}

.reset-password-box {
    padding-top: 60px;
    padding-bottom: 80px;
}