
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout_ST.cshtml";
}
<div class="box">
    <div class="box-header red text-white text-center">
        <label><span class="glyphicon glyphicon-refresh"></span>  Forgot Password</label>
    </div>
    <div class="box-body col-md-12">
        <div class="col-md-6 col-md-offset-3 col-xs-12 text-center reset-password-box">
            <p>Enter your email address below, and we will send new password to you.</p>
            <br />
            <div class="form-group">
                <input type="email" placeholder="Enter your email" id="resetEmail" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" id="btnResetPassword" class="btn btn-primary btn-block">Reset Password</button>
            </div>
            <div class="form-group">
                <a href="../Home" class="btn btn-default btn-block">Back</a>
            </div>
        </div>
    </div>
</div>


